.App {
  text-align: center;
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#d3d3d3;
  /* background: linear-gradient(rgb(133,122,221), rgb(162,242,196)); */
}
/* rgb(133,122,221)

rgb(162,242,196) */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
